body {
	font-family: "Gelasio", serif;
	margin: 10px;
	background-color: #f3f3f3;
}

h1 {
	max-width: 600px;
	margin: 5rem auto 3rem auto;
	font-size: 2.5rem;
}

h2 {
	margin: 1.5rem auto;
	font-size: 1.5rem;
	max-width: 750px;
}

p {
	max-width: 750px;
	margin: auto;
}

ul {
	max-width: 750px;
	margin: auto;
}

h1,
h2 {
	text-align: center;
}

.scrolly {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*background-color: #f3f3f3;*/
	padding: 1rem;
}
.scrolly > * {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
article {
	position: relative;
	padding: 0 1rem;
	max-width: 20rem;
}

figure {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 0;
}

figure img {
	/*text-align: center;*/
	/*padding: 1rem;*/
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*font-size: 8rem;*/
	/*font-weight: 900;*/
	color: #fff;
	max-width: 100%;
	max-height: 100%;
}

/*figure div img {
	width: 100%;
}*/

.step {
	margin: 0 auto 2rem auto;
	padding: 1rem;
	background-color: #ddd;
	color: #3b3b3b;
}

.step:last-child {
	margin-bottom: 0;
}

.step.is-active {
	background-color: #c5d2d9;
}

.step p {
	text-align: center;
	/*padding: 1rem;*/
}

#mapB,
#mapC {
	/*setting height explicitly is required for Leaflet*/
	height: 100%;
	width: 100%;
}

#timeB {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000; /*leaflet: 400*/
	background-color: white;
	padding: 16px;
	opacity: 0.8;
}

#gBikePath path {
	fill: transparent;
	stroke: #606060;
	stroke-width: 2px;
}

#gBikePath.background path {
	stroke: #848484;
	stroke-width: 2px;
}

#arbutton {
	display: table;
	background-color: #3b3b3b;
	color: white;
	padding: 30px 50px;
	margin: 15px auto;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

#arbutton:hover {
	background-color: green;
}
