body,
html {
	font-family: sans-serif;
	background-color: #f3f3f3;
	margin: 0;
}

#scrolly {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
}

#scrolly > * {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

article {
	position: relative;
	padding: 0 10px;
	max-width: 20rem;
}

figure {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/*background-color: #8a8a8a;*/
}

/*  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
*/
/*figure p {
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 8rem;
	font-weight: 900;
	color: #fff;
}*/

.step {
	margin: 0 auto 2rem auto;
	background-color: #3b3b3b;
	color: #fff;
}

.step:last-child {
	margin-bottom: 0;
}

.step.is-active {
	background-color: goldenrod;
	color: #3b3b3b;
}

.step p {
	text-align: center;
	padding: 1rem;
}

.button {
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}
.wrapper {
	text-align: right;
}
