.centered {
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
    text-align: center;
}

.top-right {
    height: 20%;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: 0px auto;
    right: 0%;
    text-align: center;
}

.top-left {
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0%;
  margin: 0px auto;
  left: 0%;
}

.right {
  right:0%;
  top: 20%;
  position: fixed;
  max-width: 60px;
  max-width: 40px;
}

#infoBtn {
  text-align: center;
  background-color: #4CAF50; /* Add an active/current color */
  padding: 0.2em; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 5.5vh; /* Increased font-size */

  border: none;
  display: flex;
  outline: none;
}

.information {
  height: 83%;
  align-items: baseline;
  justify-content: flex-start;
  position: fixed;
  top: 10%;
  bottom: 7%;
  display:  flex;
  flex-direction: column;
  width: 80%;
  margin: 0px auto;
  left: 10%;
  right: 10%;
  text-align: center;
  background-color: #555;
  color: white;
  align: center;
  overflow-y: scroll;
}

.introduction {
  height: 20%;
  position: fixed;
  top: 77%;
  bottom: 3%;
  display:  block;
  width: 70%;
  margin: 0px auto;
  left: 10%;
  right: 20%;
  text-align: center;
  background-color: #555;
  color: white;
  font-size: 85%;
  align: center;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  z-index: 0;
}

.information-topic {
  text-align: center;
    background-color: #555;
}


.bottom {
  position: fixed;
  display: flex;
  padding: 0.2em;
    right:5%;
    width:10%
    text-align: center;
    bottom: 5vh;
  min-width: 50px;
  font-size: 4vh; /* Increased font-size */
  z-index:99999;
  font-size: 80%;
}


i{
  align-items: center;
  background-color: #4CAF50;
  padding: 0.2em;
}


#popupBtn, #introBtn , #infoBtn{
    display: flex;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    outline: none;
    text-align: center;
    border-width: 1px;
    border-color: #006600;
}


/*---------------------slider---------------------------*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/*---------------------links---------------------------*/

/* unvisited link */
a:link {
 color: #4CAF50;
}

/* visited link */
a:visited {
 color: #006600;

}

/* mouse over link */
a:hover {
 color: #006600;
}

/* selected link */
a:active {
 color: #66ff66;
}

#distance {
    background-color: #555;
    color: white;
    display: inline-block;
    padding: 5px;
    font-weight-absolute: bold;
}

.navbar-toggle {
    display: inline-block;
    float: none;
}
